.header {
  background-color: green;
  text-align: center;
  height: 130px;
  width: 100%;
}

#logo {
  max-width: 280px;
  height: auto;
  margin-top: 17px;
}

@font-face {
  font-family: madimione-regular;
  src: url("/fonts/MadimiOne-Regular.ttf");
}

body {
  font-family: madimione-regular;
  background-color: #63cf50;
}

.dealer,
.player {
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
}

#totalPointsDealer {
  margin-left: 110px;
}

button {
  margin-bottom: 10px;
}

.card, .card-stack {
  border: 4px solid red;
  margin: -10px;
  display: inline-block;
  height: 100px;
  width: 60px;
  line-height: 100px;
}

#cards {
  margin-right: 50px;
  visibility: hidden;
}

.controls {
  margin-top: 10px;
  text-align: center;
}